<a href="/songs/new">Add New Song</a>

<hr>

<h3>Song List</h3>

<table>
  <% @songs.each do |song| %>
    <tr>
      <td><a href="/songs/<%= song.id %>"><%= song.song_name %></a></td>
    </tr>
  <% end %>
</table>