<form action="/songs" method="post">
  <input type="text" name="song_name" placeholder="Enter Song Name">
  <input type="text" name="artist_name" placeholder="Enter Artist Name">
  <input type="submit" value="Save">
</form>