Artist: <%= @song.artist_name %>
<br>
Song Title: <%= @song.song_name %>

<a href="/songs/<%= @song.id %>/edit">Edit</a>

<form action="/songs/<%= @song.id %>" method="post">
  <input type="hidden" name="_method" value="delete"/>
  <input type="submit" value="Delete"/>
</form>